doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    style.
      body { background-color: #f8f9fa; }
      .navbar { margin-bottom: 30px; }
  body
    nav.navbar.navbar-dark.bg-dark
      a.navbar-brand(href='/') Lab 8 - OOP Models
      div
        a.nav-link.text-white.d-inline(href='/students') Students
        a.nav-link.text-white.d-inline(href='/programmes') Programmes
        a.nav-link.text-white.d-inline(href='/students/add') Add Student
    .container
      block content
