doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    style.
      body { background-color: #f8f9fa; }
  body
    if user
      nav.navbar.navbar-dark.bg-dark
        a.navbar-brand(href='/') Lab 11 - Auth
        div
          span.text-white.mr-3 #{user.email}
          a.btn.btn-outline-light.btn-sm(href='/logout') Logout
    .container.mt-4
      block content
